:root {
    --dark: #1F2937;
    --gray: #E5E7EB;
    --white: #f9faf8;
    --accent: #3882F6;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
} p {
    font-size: 18px;
    margin: 0px;
} h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 36px;
    padding: 0px;
} button {
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 16px;
    margin-top: 14px;
    margin-bottom: 14px;
} button:hover {
    border-radius: 10px;
}
.button-small-filled {
    background-color: var(--accent);
    border-width: 0;
} .button-small-filled:hover {
    box-shadow: 0px 8px 24px 0.001px #00000088;
} 
.button-small-hollow {
    background-color: #00000000;
    border-width: 2px;
    border-color: var(--white);
    border-style: solid;
}

.section {
    padding-top: 48px;
    padding-bottom: 48px;
}
.section-flex {
    width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#header {
    background-color: var(--dark);
    color: var(--white);
    height:480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
} #header h1 {
    margin: 0;
    font-size: 24px;
    padding-top: 6px;
} #header #nav {
    display: flex;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
} #nav h1 {
    flex: 1 1 auto;
} #nav-links {
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
    flex: auto 1 auto;
} #nav-links a {
    color: var(--white);
    text-decoration: none;
    padding: 12px;
} #nav-links a:visited {
    color: var(--white);
} .header-flexitem {
    width: 50%;
} .wide-section-flex {
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
} h2 {
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

#features {
    padding-top: 0px;
}
.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 180px;
    margin-bottom: 16px;
}
.testimonial-image {
    object-fit: cover; 
    width: 180px;
    height: 180px;
    border-radius: 12px;
    margin: 16px;
}

#quote {
    background-color: var(--gray);
    padding-top: 96px;
    padding-bottom: 96px;
} .quote-content {
    font-family: Arial, Helvetica, sans-serif;
    text-justify: distribute;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
} .quote-author {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: none;
    text-align: right;
}

#calltoaction {
    width: 1000px;
}
.calltoactionbox {
    background-color: var(--accent);
    width: 100%;
    color: var(--white);
    border-radius: 12px;
    padding: 48px;
    padding-left: 96px;
    padding-right: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} .calltoactionbox h4 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#footer {
    text-align: center;
    background-color: var(--dark);
    color: var(--white);
}